@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Joan&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary_color: #00171f;
  --secondary_color: #003459;
  --heading_color: #007ea7;
  --tertiary_color: #00a8e8;
  --text_color: #ffffff;
  --extra_color: white;

  /* --primary_color: #023047;
  --secondary_color: #219ebc;
  --heading_color: #fb8500;
  --tertiary_color: #8ecae6;
  --text_color: #ffb703;
  --extra_color: wheat; */

  /* --primary_color: #1a1423;
  --secondary_color: #3d314a;
  --heading_color: #684756;
  --tertiary_color: #96705b;
  --text_color: #ab8476;
  --extra_color: wheat; */
}

.logo {
  height: 6.5vh;
  width: auto;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary_color);
  color: var(--extra_color);
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
}
.playing_board {
  height: max(40vh, 250px);
  width: max(40vw, 250px);
  grid-row: 3/4;
  grid-column: 2/3;
  border-radius: 8px;
  background-color: var(--tertiary_color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.blocks_for_board {
  height: 96%;
  width: 96%;
  background-color: var(--secondary_color);
  color: white;
  font-size: 3rem;
  font-family: "Playpen Sans", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.blocks_for_board:hover {
  background-color: var(--primary_color);
  box-shadow: 1px 1px 16px rgb(0, 0, 0);
}
.game_status {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: min(3vh, 28px);
  font-family: "DynaPuff", sans-serif;
  align-self: end;
  margin-bottom: 16px;
}
.player_info {
  font-size: min(3vh, 20px);
  width: 100%;
  height: 40%;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: start;
  color: rgb(179, 229, 245);
  border: 3px solid rgba(255, 255, 255, 0.329);
  border-radius: 16px;
  font-family: "DynaPuff", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.website_title {
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: "DynaPuff", sans-serif;
  font-size: min(6vh, 4rem);
}

.footer {
  width: max(60%, 250px);
  grid-row: 4/5;
  grid-column: 1/4;

  color: rgba(128, 128, 128, 0.574);
  font-family: "DynaPuff", cursive;
  align-self: end;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.footer_text {
  font-size: min(1vh + 3px, 16px);
}
a {
  text-wrap: none;
  margin-left: 4px;
  color: var(--text_color);
  opacity: 75%;
  font-family: "Playpen Sans";
  text-decoration: none;
}
a:hover {
  color: rgb(191, 191, 246);
}

dialog {
  justify-self: center;
  align-self: center;
  width: 60vh;
  height: 50vh;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--primary_color);
  color: var(--heading_color);
}
dialog::backdrop {
  background-color: var(--primary_color);
}
.form {
  height: 100%;
}
p > span {
  font-size: 3vh;
}
label {
  font-size: 3vh;
}
form {
  height: 100%;
  display: flex;
  flex-direction: column;

  font-size: 20px;
  justify-content: space-between;
  font-family: "DynaPuff", sans-serif;
}
input[type="radio"] {
  appearance: none;
  height: 3vh;
  width: 3vh;
  background-color: white;

  margin: 0px 4px;
}
input[type="radio"]:checked {
  appearance: none;
  content: "";
  background-color: rgb(96, 148, 96);
  border-radius: 8px;
  border: 2px solid white;
}
input[disabled] {
  background: rgba(128, 128, 128, 0.455);
  border: 2px solid rgba(255, 0, 0, 0.4);
}
input[type="text"] {
  appearance: none;
  height: min(48px, 4vh);
  width: 50%;
  margin-left: 4px;
  color: var(--tertiary_color);
  font-family: "Playpen Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding-left: 4px;
}
.user_player_one,
.user_player_two {
  height: 30%;
  padding: min(1vh, 12px);
}
button {
  height: 15%;
}
.user_player_one > p,
.user_player_two > p {
  margin-bottom: 12px;
}
button {
  appearance: none;
  margin: 4px 0px;
  border-radius: 12px;
  font-family: "Playpen Sans", sans-serif;
  font-weight: bold;
}
.submit {
  background-color: white;
  color: var(--primary_color);
  font-size: 24px;
}
.submit:hover {
  background-color: var(--secondary_color);
  border: 3px solid white;
  color: white;
}
#play_without_filling {
  cursor: context-menu;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  color: var(--extra_color);
  border: 3px solid var(--extra_color);
  font-size: 24px;
  margin: 12px 0px 8px 0px;
  border-radius: 12px;
  font-family: "Playpen Sans", sans-serif;
  font-weight: bold;
}
#play_without_filling:hover {
  background-color: var(--secondary_color);
  border: 3px solid white;
  color: white;
}
.game_options {
  width: 80%;
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.reset {
  height: min(5vh, 2.5rem);
  width: 8rem;
  background-color: var(--heading_color);
  color: var(--extra_color);
  border: none;
}
.restart {
  height: min(5vh, 2.5rem);
  width: 8rem;
  border: none;
  background-color: var(--extra_color);
  color: var(--heading_color);
}
.reset:hover {
  background: none;
  border: 3px solid var(--heading_color);
}

.restart:hover {
  border: 3px solid var(--extra_color);
  background: none;
}
